/*reset.css*/

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}

/*function.css*/
.clear:after{content:"";display:block;visibility:hidden;clear:both;}
/*layout.css*/
body{margin:0; padding:0; font:12px/1.14em "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;background:rgba(108,59,48,0.4);}
.doc{max-width:960px; -moz-box-sizing:border-box;box-sizing:border-box;margin:10px auto;}
.g-head {
	background-color: #000;/*background:rgba(174,41,41,.5);	*/
	border-top:3px solid #AE4141;
	border-bottom:3px solid #AE4141;
	font-weight:bold;
	margin:30px 0 0 0;
	padding:10px;
	position:relative;
}
.g-head .top{position:absolute;right:20px;top:-25px;}
.top span{margin-right:10px;position:relative;}
.top span:before{content:"";display:block;width:0;height:0;border:5px solid transparent;border-left:5px solid rgba(0,0,0,.2);position:absolute;top:5px;left:-10px;vertical:middle;}
.top span a{background:rgba(174,41,41,.5);color:#fff;border-radius:50%;padding:5px;}
.top span:hover a{color:#5d5d5d;}

.top span ul{display:none;position:absolute;top:26px;right:-15px;width:70px;background:#5d5d5d;color:white;cursor:pointer;text-align:center;z-index:8888;}
.top span ul li{border-bottom:1px solid white;padding:5px;}
.top span ul li:hover{color:red;}
.top span ul li:last-child{border-bottom:none;}
.top span ul:after{
	content:""; /*需要有内容，这里是一个空字符串*/
	position:absolute; /*相对于弹出层定位*/
	border:12px solid;
	border-color:transparent transparent #5d5d5d transparent;
	left:22px;top:-24px; /*相对于盒子边框定位三角形*/
	height:0px; width:0px; /*收缩边框创造三角形*/
}
.top span:hover ul{display:block;}

.g-head nav li {
	display:inline;
	list-style:none;
	margin-right:10px;
	position:relative;
}
.g-head nav li ul{width:100px;height:auto;display:none;position:absolute;top:29px;left:0;z-index:9999;}
.g-head nav li ul li{height:50px;width:100px;margin:0;border-top:1px solid white;}
.g-head nav li ul li a{display:block;width:100px;height:20px;background:rgba(174,41,41,.5);color:#fff;border-top:1px solid white;}
.g-head nav li ul li a:first-child{border-top:1px solid transparent;}
.g-head nav li ul li a:hover{background:#AE4141;color:#fff;}
.g-head nav li:hover ul{display:block;}

.g-head nav li a {
	padding:10px 14px;
	color:#fff;
	text-decoration:none;
}
.g-head li:hover>a {
	background:#AE4141;
	color:#fff;
}
.g-head nav li a:active {
	background:#fff;
	color:#333;
}

.g-main{margin:10px 0;font: 16px/1.95em "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;}

.g-foot{margin-bottom:20px;padding:5px;background-color: #000/*background:rgba(174,41,41,.5)*/;text-align:center;font-size:20px;	border-top:3px solid #AE4141;border-bottom:3px solid #AE4141;color:white;line-height:1.14em;font-family:"楷体";}
.backtop{position:fixed;bottom:20px;right:20px;width:40px; height:40px; background:url(../images/top_bg.png) no-repeat left top;}
.backtop:hover {background:url(../images/top_bg.png) no-repeat 0 -40px;}/*显示图片的下半部分*/
