#resource{display:flex;font-size:16px;}
#resource ul{width:250px;display:flex;flex-direction:column;margin:5px 30px;}
#resource ul li{border-bottom:1px dashed;background:#CDCDCD;font-family:"楷体";padding:10px;padding-left:10px;padding-right:10px;}
#resource ul li a{color:black;}
#resource ul li a:hover{color:red;text-decoration:underline;background:none;}
#resource ul li:first-child{border-radius: 2px 2px 0 0;background:#929292;color:black;}