*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 12px;
    font-family: "微软雅黑";
    background: #f8f3ed;
}
/*
头部
*/
.hd-bg{
    width: 100%;
    height: 100px;
    background: #ffffff;
    box-shadow: 2px 4px 6px #ebebeb;
}
.hd-content{
    width: 1002px;
    height: 100px;
    margin: 0 auto;
}
.hd-all{
    padding-top: 12px;
}
.hd-logo{
    width: 105px;
    height: 88px;
    float: left;
}
.hd-logo img{
    padding-top: 20px;
}
.hd-top-title {
    float: right;
    text-align: right;
}
.hd-top-fom a{
    text-decoration: none;
    color: #000000;
    position: relative;
    top:3px;
}
.hd-top-fom a:hover{
    color: #8b1f53;
}
.hd-top-ft{
    margin-right: 10px;
}
.hd-top-imgs{
    vertical-align: middle;
    margin-right: 5px;
}
.hd-top-number{
    font-size: 18px;
    color: #cf0000;
    position: relative;
    top:3px;
}
.hd-top-numbertitle{
    position: relative;
    top:3px;
}
/*
菜单
*/
nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    z-index:888;
}
h1 {
    width: 500px;
    margin: 100px auto 20px;
    color: #f0f0f0;
    text-align: center;
}
.nav {
    margin: 0 auto;
    color: #f0f0f0;
    margin-top: 16px;
}
.nav a {
    display: inline-block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
.nav a:hover{
    color: #ffffff;
}
.nav_menu {
    line-height: 45px;
    text-transform: uppercase;
}
.nav_menu-item {
    display: inline-block;
    position: relative;

}
.nav_menu-item:hover {
    background-color: #8b1f53;
}
.nav_menu-item .active {
    background-color: #8b1f53;
    color:#fff;
}
.nav_submenu {
    display:none;
}
.nav_menu-item:hover .nav_submenu{
    display: block;
}
.nav_submenu {
    font-weight: 300;
    text-transform: none;
    position: absolute;
    width: 140px;
    background-color: #a32b65;
}
.nav li:hover>a {
    background: rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.nav_submenu-item a{
    display: block;
    margin:auto;
    text-align: left;
    color: #ffffff;
}
/*
banner
*/
.mr{
    margin-top: 1px;
}
/*
main
*/
.main_contents{
    width: 1002px;
    margin: 0 auto;
}
.ct_main{
    width: 1002px;
    height: 570px;
    margin: 0 auto;
    margin-top: 45px;
}
.cr_main_item_one{
    width: 325px;
    height: 560px;
    background: #ffffff;
    float: left;
    margin-right: 13px;

    -webkit-box-shadow:0 0 19px rgba(230, 225, 219, .9);
    -moz-box-shadow:0 0 19px rgba(230, 225, 219, .9);
    box-shadow:0 0 19px rgba(230, 225, 219, .9);

}
.cr_main_item_rt{
    width: 325px;
    height: 560px;
    background: #ffffff;
    float: right;

    -webkit-box-shadow:0 0 19px rgba(230, 225, 219, .9);
    -moz-box-shadow:0 0 19px rgba(230, 225, 219, .9);
    box-shadow:0 0 19px rgba(230, 225, 219, .9);
}
.ct_main_content h2{
    text-align: center;
}
.ct_main_content{
    padding: 20px 25px 25px 25px;
}
.ct_nr{
    padding-top: 12px;
    color: #020410;
    line-height: 2em;
}
.ct_more_imgs{
    text-align: center;
    padding-top: 10px;
}

/*首页产品*/
.index_product_top{
    width: 1002px;
    margin: 0 auto;
    position: relative;
    top:45px;
    overflow: hidden;
    height: 150px;
}
.index_product_top_title{
    text-align: center;
}
.index_product_top_img{
    text-align: center;
}
.index_product_sier_bg{
    width: 100%;
    height: 500px;
    background: url("../images/pro_pic_bg.jpg");
    background-repeat:repeat-x;
}

/*产品系列轮播图*/
.index_product_sier_main{
    width: 1002px;
    height: 500px;
    margin: 0 auto;
}
.focus{width:1002px;height:500px;position:relative;margin-top:6px;float:center;background: #000000;}
.f426x240{width:1002px;height:500px;overflow:hidden}
.f426x240 img{width:1002px;height:500px}
.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides_nav{height:51px;width:31px;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:0;opacity:0.5;text-indent:-9999px;overflow:hidden;text-decoration:none;background:url(../images/i.png) no-repeat 0 -560px;margin-top:-28px}
.rslides_nav:active{opacity:1.0}
.rslides_nav.next{left:auto;background-position:-31px -560px;right:0}


/*首页案例*/
.index_case{
    width: 1002px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 40px;

}
.index_case_lt{
    width: 698px;
    height: 600px;
    background: pink;
    float: left;
}
.index_case_rt{
    width: 290px;
    float: right;
}
.index_case_rt_bg{
    width: 290px;
    height: 335px;
    background: url("../images/case_bg.jpg") no-repeat;
}
.index_case_rt_shop{
    padding-top: 20px;
}
.index_case_content{
    padding: 45px 32px 32px 32px;
}
.index_case_content_title{
    border-bottom: 2px solid #936353;
    padding-bottom: 10px;
}
.index_case_content_title span{
    font-size: 22px;
    color: #956657;
}
.index_case_content_title1{
    padding-top: 20px;
}
.xd1{
    font-size: 20px;
}
.sim1{
    font-size: 14px;
    color: #666;
}
.index_case_content_p{
    padding-top: 22px;
    line-height: 2em;
    color: #666;
}
.index_case_content_more{
    padding-top: 24px;
}
.index_case_content_more a{
    text-decoration: none;
    color: #000;
}
.index_case_content_more a:hover{
    color: #8b1f53;
    text-decoration: underline;
}
.banner {/*  修改输出屏大小  */ width: 698px; height: 600px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto; }
.banner .img { width: 99999px; position: absolute; left: 0px; top: 0; }
.banner .img li { float: left; }
/*/ 修改图片大小 /*/
.banner .img img { width: 698px; }
/*/ 小圆圈 /*/
.banner .num { position: absolute; width: 100%; bottom: 10px; left: 0; text-align: center; font-size: 0px; }
.banner .num li { width: 10px; height: 10px; background: #888; border-radius: 50%; display: inline-block; margin: 0 3px; cursor: pointer; }
.banner .num li.on { background: #F60; }
/*/ 按钮 /*/
.banner .btn { width: 30px; height: 50px; background: rgba(0,0,0,0.5); position: absolute; top: 50%; margin-top: -25px; cursor: pointer; text-align: center; line-height: 50px; color: #fff; font-size: 40px; font-family: "宋体"; display: none; }
.banner:hover .btn { display: block; }
.banner .btn_l { left: 0; }
.banner .btn_r { right: 0; }
/*/ 第一个轮播 / 原本有固定样式。所以第二个轮播我就没写 */
#ban1 .banner { width: 698px; height: 600px;}
#ban1 .banner .img img { width: 698px; height: 600px; }
.main_contents2{
    width: 1002px;
    margin: 0 auto;
}
/*首页新闻*/
.index_news_item{
    margin-top: 15px;
    overflow: hidden;
    margin-bottom: 40px;
}
.index_news_lt{
    width: 397px;
    float: left;
    height: 485px;
    background: #ffffff;
}
.index_news_tj_content{
    padding: 16px 16px 16px 16px;
}
.index_news_tj_lt{
    width: 75px;
    height: 67px;
    background: #8b1f53;
    float: left;
}
.index_news_day{
    text-align: center;
}
.index_news_day span{
    font-size: 16px;
    color: #ffffff;
}
.index_news_moth{
    text-align: center;
}
.index_news_moth span{
    font-size: 16px;
    color: #ffffff;
}
.index_news_dt_all{
    padding-top: 10px;
}
.index_news_tj_rt{
    width: 270px;
    float: right;
}
.index_news_tj_rt_title a{
    text-decoration: none;
    font-size: 20px;
    color: #030000;
}
.index_news_tj_rt_title a:hover{
    color: #8b1f53;
}
.index_news_tj_dscription{
    color: #5f5f5f;
    line-height: 1.9em;
}
.index_news_tj_rt_hrefs{
    width: 77px;
    background: #b2b2b2;
    text-align: center;
    margin-top: 6px;
}
.index_news_tj_rt_hrefs a{
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    line-height: 2em;
}

.index_news_rt1{
    width:591px;
    float: right;
}

.index_news_list{
    width: 591px;
    height: 152px;
    background: #ffffff;
    margin-bottom: 14px;
}
.index_news_list_all{
    padding: 10px 10px 10px 10px;
    padding-top: 14px;
}
.index_news_list_lt{
    width: 153px;
    height: 125px;
    float: left;
}
.index_news_list_rt{
    width: 400px;
    float: left;
    margin-left: 12px;
}
.index_news_list_title a{
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    display: block;
}
.index_news_list_title a:hover{
    color: #8b1f53;
}
.index_news_list_descri{
    padding-top: 12px;
    line-height: 2em;
    color: #5f5f5f;
}
.index_news_list_view{
    width: 77px;
    background: #b2b2b2;
    text-align: center;
    line-height: 2em;
    margin-top: 15px;
}
.index_news_list_view a{
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}


/*底部*/
.footer_bg{
    width: 100%;
    height: 150px;
    background: #323232;
    overflow: hidden;
}
.footer_all{
    width: 1002px;
    margin: 0 auto;
    margin-top: 20px;
}
.footer_menu{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
.footer_menu ul{
    list-style: none;
}
.footer_menu ul li{
    width: 80px;
    float: left;
    border-right: 1px solid #ffffff;
}
.footer_menu ul li:last-child{
    border:0;
}
.footer_menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}
.footer_cop{
    width: 642px;
    margin: 0 auto;
}
.footer_cop_lt ul{
    list-style: none;
}
.footer_cop_lt ul li{
    font-size: 12px;
    color: #ffffff;
    line-height: 2em;
}
.footer_cop_lt{
    float: left;
}
.footer_cop_ct{
    float: left;
    width: 2px;
    height: 60px;
    border-right: 2px solid #5b5b5b;
    margin-left: 30px;
}
.footer_cop_rt{
    float: right;
}
.footer_cop_rt ul{
    list-style: none;
}
.footer_cop_rt ul li{
    font-size: 12px;
    color: #ffffff;
    line-height: 2em;
}





.izl-rmenu{
    margin-right: 0;
    width: 82px;
    position: fixed;
    right: 2px;
    top: 65%;
    -webkit-box-shadow: #DDD 0px 1px 5px;
    -moz-box-shadow: #DDD 0px 1px 5px;
    box-shadow: #DDD 0px 1px 5px;
    z-index:999;
}
.izl-rmenu .consult{
    background-image: url(../images/consult_icon.jpg);
    background-repeat: no-repeat;
    background-position: center -77px;
    display: block;
    height: 76px;
    width: 82px;
}
.izl-rmenu .consult .phone {
    background-color: rgb(247,247,255);
    position: absolute;
    width: 160px;
    left: -160px;
    top: 0px;
    line-height: 73px;
    color: #000;
    font-size: 18px;
    text-align: center;
    display: none;
    box-shadow: #DDD -1px 1px 4px;
}
.izl-rmenu a.consult:hover .phone{display:inline !important;}
.izl-rmenu .cart {
    background-image: url(../images/consult_icon.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
    height: 16px;
    width: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #45BDFF;
    text-align: center;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 47px;
    padding-left: 48px;
}
.izl-rmenu a.cart:hover .pic{display:block;}
.izl-rmenu .btn_top {
    background-image: url(../images/float_top.gif);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 39px;
    width: 82px;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.izl-rmenu .btn_top:hover {
    background-image: url(../images/float_top.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.izl-rmenu .cart .pic {
    display:none;
    position: absolute;
    left: -160px;
    top: 65px;
    width: 160px;
    height: 160px;
    background:url(../images/weixin.png);
}
#udesk-feedback-tab {
    position: fixed;
    right: 2px;
    top: 65%;
    margin-top: -76px;
    -webkit-box-shadow: #DDD 0px -1px 5px;
    -moz-box-shadow: #DDD 0px -1px 5px;
    box-shadow: #DDD 0px -1px 5px;
    z-index: 10000;
    cursor: pointer;
    background-image: url(../images/consult_icon.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 76px;
    width: 82px;
    background-color: #FFF!important;
    z-index:999;
}




/*登录注册*/
.main_nav{}
/*.main_nav li{float:left; width:60px; margin-right:10px; font-size:16px;*/
    /*padding: .6em 1em;*/

    /*border-radius: 3em;*/
    /*background: #2f889a;*/
    /*text-align:center*/
/*}*/
/*.main_nav li a{color:#fff}*/

.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 9999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
    list-style: none;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
    text-decoration: none;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}
@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 16px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.cd-form label.cd-username {
    background-image: url("../images/img/cd-icon-username.svg");
}
.cd-form label.cd-email {
    background-image: url("../images/img/cd-icon-email.svg");
}
.cd-form label.cd-password {
    background-image: url("../images/img/cd-icon-password.svg");
}
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 80%;
}
.cd-form input.full-width2 {
    width: 94%;
}
.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}


@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
        margin-right: 24px;
    }
    .cd-form .fieldset {
        margin: 2em 0;
    }
    .cd-form .fieldset:first-child {
        margin-top: 0;
    }
    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
    .cd-form input[type=submit] {

    }
}



.cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../images/img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}


/*banner*/
#wrapper {
    /*background:gainsboro;*/
    position:relative;
}
.fullwidthbanner-container{
    width:100% !important;
    position:relative;
    padding:0;
    max-height:700px !important;
    overflow:hidden;
}
.fullwidthbanner-container .fullwidthabnner	{
    width:100% !important;
    max-height:450px !important;
    position:relative;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .banner, .bannercontainer			{	width:768px; height:309px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .banner, .bannercontainer		{	width:480px; height:193px;	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .banner, .bannercontainer		{	width:320px;height:129px;	}
}

@media only screen and (max-width: 319px) {
    .banner, .bannercontainer		{	width:240px;height:97px;	}
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected {
    background:#8b1f53 !important;
}
.tp-leftarrow:hover,
.tp-rightarrow:hover {
    background-color:#8b1f53 !important;
}
/** BULLETS **/
.tp-bullets {
    z-index: 1001;
    position: absolute;
    bottom: 0px;
}
.tp-bullets.simplebullets.round .bullet {
    cursor: pointer;
    position: relative;
    background: #fff;
    width: 188px;
    height: 6px;
    float: left;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
}
.tp-leftarrow.large {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: #393939 url(../images/banner/slider-left-arrow.png) no-Repeat;
    width: 42px;
    height: 43px;
    margin-left: 0px;
    margin-top: -21px;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);/*增加阴影*/
    /*
    **打开注释，按钮变成圆形的
    border-radius: 20px;  所有角都使用半径为5px的圆角，此属性为CSS3标准属性
    -moz-border-radius: 20px;  Mozilla浏览器的私有属性
    -webkit-border-radius: 20px;  Webkit浏览器的私有属性
    border-radius: 20px 20px 20px 20px; 四个半径值分别是左上角、右上角、右下角和左下角
    */
}
.tp-rightarrow.large {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: #393939 url(../images/banner/slider-right-arrow.png) no-Repeat 0 0;
    width: 42px;
    height: 43px;
    margin-left: 0;
    margin-top: -21px;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);/*增加阴影*/
    /*
    **打开注释，按钮变成圆形的
    border-radius: 20px;  所有角都使用半径为5px的圆角，此属性为CSS3标准属性
    -moz-border-radius: 20px;  Mozilla浏览器的私有属性
    -webkit-border-radius: 20px;  Webkit浏览器的私有属性
    border-radius: 20px 20px 20px 20px; 四个半径值分别是左上角、右上角、右下角和左下角
    */
}
.tp-bullets.tp-thumbs {
    z-index: 100;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width: 500px;
    height: 50px;
    margin-top: -50px;
}
.fullwidthbanner-container .tp-thumbs {
    padding: 3px;
}
.tp-bullets.tp-thumbs .tp-mask {
    width: 500px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    width: 5000px;
    position: absolute;
}
.tp-bullets.tp-thumbs .bullet {
    width: 100px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    background: none;
    margin: 0;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /*filter: alpha(opacity=50);	*/
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.tp-thumbs img {
    width: 100%;
}
.tp-bannertimer {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 200;
    z-index: 5000;
}
.tp-bannertimer.tp-bottom {
    bottom: 0px !important;
    height: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .responsive .tp-bullets.tp-thumbs {
        width: 300px !important;
        height: 30px !important;
    }
    .responsive .tp-bullets.tp-thumbs .tp-mask {
        width: 300px !important;
        height: 30px !important;
    }
    .responsive .tp-bullets.tp-thumbs .bullet {
        width: 60px !important;
        height: 30px !important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .responsive .tp-bullets {
        display: none;
    }
    .responsive .tparrows {
        display: none;
    }
}
.tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.tp-simpleresponsive a {
    text-decoration: none;
}
.tp-simpleresponsive ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tp-simpleresponsive >ul >li {
    list-stye: none;
    position: absolute;
    visibility: hidden;
}
.caption.slidelink a div,
.tp-caption.slidelink a div {
    width: 10000px;
    height: 10000px;
}
.tp-loader {
    background: url(../images/banner/loader.gif) no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px -22px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}



