/*base*/
*{padding:0;margin:0;}
body{
	font-size:62.5%;
	font-family:"Microsoft YaHei",Arial;
	 overflow-x:hidden; 
	 overflow-y:auto;
	 }
.viewport{  
	min-width:300px; 
	margin:0 auto;
	}
ul{list-style:none;}	
a{text-decoration: none;color:black;}


/*index page*/

/*banner*/

.swiper-container {
	    width: 100%;
	    height: 30vh;
} 
.slide-1 {
background: url(../img/bg/banner1.jpg) no-repeat;
background-size: 100% 30vh;
}
.slide-2 {
background: url(../img/bg/banner2.jpg) no-repeat;
background-size: 100% 30vh;
}
.slide-3 {
background: url(../img/bg/banner3.jpg) no-repeat;
background-size: 100% 30vh;
}

/*search*/

.g-search form{
	box-sizing: border-box;
	width:100%;
	display: flex;
	justify-content: space-between;
	border:2px solid rgba(0,0,0,.2);
	}
.g-search form input:nth-child(1){
	width:80%;
	outline: none;
	border:1px solid transparent;
	padding:0.5rem;
	}
.g-search form input:nth-child(2){
	width:20%;
	border:1px solid transparent;
	padding:0.5rem;
	background: lightskyblue;
	color:white;
	}
	
/*menu*/

.g-menu{
	display: flex;
	flex-direction: column;
	border-bottom:2px solid rgba(0,0,0,.2)
}
.g-menu .row{
	display: flex;
	justify-content: space-between;
	padding:0 1.2rem;
	margin:0.8rem;
}
.g-menu .row:nth-child(1){
	margin-bottom:0;
	}
.g-menu .row a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	text-align:center;
	}
.g-menu .row a img{
	margin-bottom:0.5rem;
	}
	
/*online*/

.g-online{
	width:100%;
	box-sizing: border-box;
	padding:1%;	
	padding-bottom: 0;
	
}
.g-online .g-online-title{

	padding-left:1rem;
	border-left:4px solid dodgerblue;
	}

.g-online .g-img{
	box-sizing: border-box;
	padding-top:1;
	border-top:1px solid rgba(0,0,0,.2);
}
.g-online .g-img img{
	width:100%;
	margin-top:1%;
	height:10rem;
	}
	
/*news*/

.g-news{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

}
.g-news .news-title{
	padding-left:1rem;border-left:4px solid dodgerblue;
}
.g-news .news-list{
	display: flex;
	border-top:1px solid rgba(0,0,0,.2);
	flex-direction: column;
}
.g-news .news-list a{
	height:3rem;
	display: flex;
	padding:0.3rem 0.5rem;
	text-decoration: none;
	color:black;
	justify-content: space-between;
	border-bottom:1px solid rgba(0,0,0,.2)	
}
.g-news .news-list a img{
	box-sizing: border-box;
	width:30%;
	height:3rem;
	
	}
.g-news .news-list a p{
	box-sizing: border-box;
	width:70%;
	padding:0.2rem 0.5rem;
	}

/*product*/

.g-product{
	width:100%;
	box-sizing: border-box;
	padding:1%;		
	}
.g-product .product-title{
	padding-left:1rem;
	border-left:4px solid dodgerblue;
	}
.g-product .product-list{
	display: flex;
	justify-content:space-between ;
	border-top:1px solid rgba(0,0,0,.2);
	padding:1%;
}
.g-product .product-list .product-column{
	width:48%;
	display: flex;
	flex-direction: column;
	}
.g-product .product-list .product-column a{
	display: flex;
	flex-direction: column;
	text-align: center;
	text-decoration: none;
	margin-bottom:0.8rem;
	box-sizing: border-box;
	border:1px solid #e6e6e6;
	padding:0.5rem;
	box-shadow: 0.2rem 0.2rem 0.5rem #8a8a8a;
}
.g-product .product-list .product-column a img{
	margin-bottom:0.8rem;
	width:100%;
	height:5rem;
}

/*copyright*/

.g-copyright{
	padding:2% 10%;
	text-align: center;
	background:rgba(0,0,0,.2);
	color:white;
	font-size:1.2em;
	margin-bottom:130px;
	}
	
/*fix menu*/

.g-fix-menu{
	box-sizing: border-box;
	padding:0.5rem;
	display: flex;
	justify-content: space-around;
	border-top:1px solid #e6e6e6;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:1000;
	background:white;
}

.g-fix-menu a{
	display: flex;
	flex-direction: column;
	text-align:center;
}

.g-fix-menu a img{
	margin-bottom:0.5rem;
	width:10vw;
	
	}

/* sort paga*/
.sort-active{background:#fff;color:black;}
.sort-menu{
	display: flex;
	position:relative;
	}

.sort-list{
	display: flex;
	flex-direction: column;
	width:20%;
	background:#e6e6e6;
	text-align: center;
	height:100vh;		
	position: fixed;
	padding:2rem 0;
}
.sort-list span{
	padding:0.5rem;
}
.product-lists{
	margin-left:20%;
	margin-bottom:10%;
	padding:2rem;
}
.product-list-item{
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-list-item a{
	width:48%;
	display: flex;
	flex-direction: column;
	text-align: center;

	margin-bottom:2%;
	box-sizing: border-box;
	border:1px solid #e6e6e6;
	padding:0.5rem;
	box-shadow: 0.2rem 0.2rem 0.5rem #8a8a8a;	
	
}
.product-list-item a img{
	width:100%;
}
