/*base*/
*{padding:0;margin:0;}
body{
	font-size:62.5%;
	font-family:"Microsoft YaHei",Arial;
	 overflow-x:hidden; 
	 overflow-y:auto;
	 }
.g-doc{  
	min-width:300px; 
	margin:0 auto;
	}
ul{list-style:none;}	
a{
	text-decoration: none;
	color:black;
	}
img{
	margin:0;
	padding:0;
}
/*header*/
.g-header-menu{
	background:#1C2628;
	position: relative;
	z-index: 10;
	display: flex;
	height:40px;
	
}
.g-header-menu>a{
	width:25%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right:1px solid white;
	z-index: 10;
}
.g-header-menu>a:nth-of-type(5){
	border-right:1px solid black;
}
.g-header-menu>a img{
	width:21px;
	height:21px;
}
.g-header-menu .search{
	position:absolute;
	z-index: 1;
	display: none;
}

/*banner*/
.ck-slide { box-sizing:border-box;width: 100vw; height: 50vw; margin: 0 auto;}
.ck-slide ul.ck-slide-wrapper { height: 50vw;}
ul.ck-slide-wrapper img{width:100vw;height:50vw;}
.ck-slide ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index:1001
}
.ck-slide {
	position: relative;
	overflow: hidden;
}
.ck-slide ul.ck-slide-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
}
.ck-slide ul.ck-slide-wrapper li {
	position: absolute; margin-top:0px;
}
.ck-slide ul.ck-slide-wrapper li a{
	/*a标签是行内元素，宽高对a标签不起作用，这里必须添加line-height:0px;display:black，否则垂直滚动<li>之间会出现间隔*/
	line-height:0px;
	display:block;
}
.ck-slide .ck-prev, .ck-slide .ck-next {
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 30px;
	height: 40px;
	margin-top: -15px;
	border-radius: 3px;
	opacity: 0.5;
	background-repeat: no-repeat;
	transition: opacity .2s linear 0s;
	color:white;
	font-weight:bold;
	font-size:1rem;
	line-height:40px;
	text-align: center;
}
.ck-slide .ck-prev {
	left: 2px;
	background: #000 50% no-repeat;
}
.ck-slide .ck-next {
	right: 2px;
	background: #000 50% no-repeat;
}
.ck-slidebox {
	position: absolute;
	left: 50%;
	bottom: 12px;
	z-index: 30;
}
.ck-slidebox ul {
	height: 20px;
	padding: 0 4px;
	border-radius: 8px;
	background: rgba(0,0,0,0.5);
}
.ck-slidebox ul li {
	float: left;
	height: 12px;
	margin: 4px 4px;
}
.ck-slidebox ul li em {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #fff;
	text-indent: -9999px;
	cursor: pointer;
}
.ck-slidebox ul li.current em {
	background-color: #fe6500;
}
.ck-slidebox ul li em:hover {
	background-color: #fe6500;
}
/*g-menu*/
.g-main-menu{
	display: flex;
	flex-direction: column;
	font-size:14px;
	font-weight:bold;
}
.g-main-menu .pic-row{
	display: flex;
	box-sizing: border-box;
	height:33vw;
}
.g-main-menu .pic-row>a{
	width:33.3333%;
}
.g-main-menu .pic-row:nth-of-type(1)>a{
	border-right:1px solid #000;
}
.g-main-menu .pic-row:nth-of-type(3)>img{
	border-right:1px solid #000;
}
.g-main-menu .pic-row>img{
	width:66.6666%;
	height:33vw;
}
.g-main-menu .pic-row>a>img{
	width:100%;
	height:33vw;
}
.g-main-menu .title-row{
	display: flex;
	background: #4b4b4b;
}
.g-main-menu .title-row a{
	width:33.3333%;
	color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-right:1px solid #000;
}
.g-main-menu .title-row a:nth-of-type(3){
	border-right:1px solid #4b4b4b;
}
/*returnTop*/
.returnTop{
	background:gray;
	padding:10px;
	color:white;
	font-size:14px;
	margin:15px 5px;
	text-align: center;
}
/*height30*/
.height30{
	height:40px;
	width:100vw;
}
/*fix menu*/

.g-fix-menu{
	box-sizing: border-box;
	width:100vw;
	display: flex;
	background-color: #bbbbbb;
	height:40px;
	position:fixed;
	bottom:0;
	left:0;
	z-index:1001;
}
.g-fix-menu a{
	display: block;
}
.g-fix-menu>li{
	box-sizing: border-box;
	position: relative;
	width:25%;
	text-align: center;
	border-right:1px solid rgba(0,0,0,.6);    
	line-height: 40px;
	font-size:14px;
	z-index:1000;
}
.g-fix-menu>li:nth-of-type(2)>a:after{
	content:url(../img/arrow.png);
	width:16px;
	height:16px;	
}
.g-fix-menu>li:nth-of-type(4)>a:after{
	content:url(../img/arrow.png);
	width:16px;
	height:16px;
}
.g-fix-menu>li:nth-of-type(4){
	border-right:1px solid #bbbbbb; 
}
.g-fix-menu>li:nth-of-type(2)>ul{
	width:100%;
	position:absolute;
	top:-200px;
	background-color: #bbbbbb;
	display: none;
}
.g-fix-menu>li:nth-of-type(4)>ul{
	width:100%;
	position:absolute;
	top:-80px;
	background-color: #bbbbbb;
	display: none;

}
.g-fix-menu>li li{
	box-sizing: border-box;
	height:40px;
	border-bottom:1px solid rgba(0,0,0,.2); 
}
/*baidu map*/
.allmap{
	box-sizing: border-box;
	width:100vw;
	height:88vh;
}
.callpan{
	margin:0 2rem;
	margin-top:60vh;
	border:2px solid #E30735;
	position: relative;
}
.callpan:after{
	content:"";
	display: block;
	width:0;
	height:0;
	border:1rem solid transparent;
	border-top:1rem solid #E30735;
	position:absolute;
	top:100%;
	left:56%;
}


/*listbox*/
.list-box{
	display: flex;
	flex-direction: column;
	font-size:14px;
	
}
.list-box a{
	box-sizing: border-box;
	display: flex;
	width:100%;
	height:80px;	
	padding:4px;	
	position: relative;
	background:rgba(221,221,221,.4);
	box-shadow:0 2px 1px #ddd;
	color: #9d9286;
}
.item-icon{
	width:20px;
	height:20px;
	background:url(../img/list_icon.png) no-repeat;
	background-size: 20px;
	position: absolute;
	top:50%;
	right:15px;
	margin-top:-10px;
}
.list-box a img{
	width:33%;
	padding-right:5px;
}
/*预约听课*/
.pre-online{
	box-sizing: border-box;
	padding:5px;
}
.pre-group{
	display: flex;
	flex-direction: column;
	margin:5px 0;
}
.pre-group label{
	font-size:14px;
	margin-bottom:2px;
	font-weight:bold;
}
.pre-group input,select{
	height:40px;
	-webkit-appearance:none;
	outline:none;	
	box-sizing: border-box;
	width:100%;
	padding:5px;
	border:1px solid #BBBBBB;
	border-radius: 2px;
	background: #fff;
	font-size:16px;
}
.pre-online input[type="submit"]{
	-webkit-appearance:none;
	outline:none;	
	width:100%;
	padding:10px;
	border:1px solid transparent;
	border-radius: 2px;
	background:#007AFF;
	color:#fff;
	font-size:16px;
	font-weight:bold;
}

/*最新活动*/
.activity-list{
	box-sizing: border-box;
	padding:5px;
}
.activity-item{
	box-sizing: border-box;
	margin-bottom:5px;
	width:100%;
	padding-right:2px;
	border:1px solid #DDDDDD;
	border-radius:2px;
	overflow: hidden;
}
.activity-item img{
	box-sizing: border-box;
	width:100%;
	padding:5px;
}
.activity-item .activity-content{
	box-sizing: border-box;
	width:100%;
	padding:5px;	
	display: flex;
	flex-direction: column;
}
.activity-item .activity-content h1{
	margin-bottom:5px;
	color:#fe8400;
}
.activity-item .activity-content p{
	font-size:12px;
	margin-bottom:5px;
	line-height: 20px;
}
.activity-item .activity-content span{
	color:#000;
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
}
.activity-item .activity-content a{
	margin-top:10px;
	background:#fe8400;
	padding:8px;
	font-size: 16px;
	border-radius: 32px;
	color:#fff;
	align-self: flex-end;
}

/*活动详情*/
.activity-info{
	box-sizing: border-box;
	padding:5px;	
}
.activity-info img{
	box-sizing: border-box;
	width:100%;
	padding:5px;	
}
.activity-info p{
	font-size:14px;
	margin-bottom:5px;
	line-height: 22px;
}
/*article*/
.article{
	box-sizing: border-box;
	font-size:16px;
	padding:5px 5px;
	line-height:24px;
	
}
.article img{
	width:100%;
	margin-bottom:4px;
}
.article p{
	margin-bottom:4px;
}

/*定位*/
.location-contain{
	background:#DDDDDD;
	margin:0;
	
}
.location-top{
	height:70px;
	display: flex;
	font-size:14px;
	background:#fff;
	
	
}
.location-top img{
	width:50px;
	height:50px;
	align-self:center;
}
.location-tip-box{
	display: flex;
	flex-direction: column;
	padding:10px 0;
	padding-left:10px;

}
.location-top .location-tip{
	margin-bottom:5px;
	font-weight:bold;	
}

.location-list{
	padding:0 4px 4px 4px;
}
.location-list-item{
	box-sizing: border-box;
	display: flex;
	width:100%;
	height:80px;
	background:#fff;
	margin:4px 0;
}
.location-list-item img{
	box-sizing: border-box;
	width:30%;
	height:80px;
	padding:2px;
}
.location-list-right{
	box-sizing: border-box;
	width:70%;
	height:80px;
	padding:2px;
}
.location-list-right .location-city{
	margin-bottom:2px;
	font-size:14px;
	font-weight:bold;
}
.location-list-right .location-street{
	margin-bottom:2px;
	font-size:12px;
}
.location-contact{
	display: flex;
	margin-top:5px;
}
.location-contact-item{
	width:50%;
	font-size:12px;
	display: flex;
}
.location-contact-item img{
	width:25px;
	height:25px;
}
.location-contact-item a{
	align-self: center;
}
.location-contact-item a:hover{
	color:palevioletred;
}
