.swiper-container{
	margin-top:30px;
	width:100%;
	height:70vw;
}
.swiper-container img{
	width:100;
	height:100%;
}

/*banner*/
.ck-slide { box-sizing:border-box;width: 100vw; height: 100vh; margin: 0 auto;max-width: 640px;}
.ck-slide ul.ck-slide-wrapper { height: 100vh;}
ul.ck-slide-wrapper img{width:100vw;height:100vh;}
.ck-slide ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index:1001
}
.ck-slide {
	position: relative;
	overflow: hidden;
}
.ck-slide ul.ck-slide-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
}
.ck-slide ul.ck-slide-wrapper li {
	position: absolute; margin-top:0px;
}
.ck-slide ul.ck-slide-wrapper li a{
	/*a标签是行内元素，宽高对a标签不起作用，这里必须添加line-height:0px;display:black，否则垂直滚动<li>之间会出现间隔*/
	line-height:0px;
	display:block;
}
.ck-slide .ck-prev, .ck-slide .ck-next {
	position: absolute;
	top: 50%;
	z-index: 2;
	height: 40px;
	margin-top: -15px;
	border-radius: 3px;
	opacity: 0.5;
	background-repeat: no-repeat;
	transition: opacity .2s linear 0s;
	color:white;
	font-weight:bold;
	font-size:1rem;
	line-height:40px;
	text-align: center;
	text-decoration:none;
	padding:0 0.2rem;
}
.ck-slide .ck-prev {
	left: 2px;
	background: url(../images/arrow-left.png) #000 50% no-repeat;
}
.ck-slide .ck-next {
	right: 2px;
	background: url(../images/arrow-right.png) #000 50% no-repeat;
}
.ck-slidebox {
	position: absolute;
	left: 50%;
	bottom: 12px;
	z-index: 30;
}
.ck-slidebox ul {
	height: 20px;
	padding: 0 4px;
	border-radius: 8px;
	background: rgba(0,0,0,0.5);
}
.ck-slidebox ul li {
	float: left;
	height: 12px;
	margin: 4px 4px;
}
.ck-slidebox ul li em {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #fff;
	text-indent: -9999px;
	cursor: pointer;
}
.ck-slidebox ul li.current em {
	background-color: #fe6500;
}
.ck-slidebox ul li em:hover {
	background-color: #fe6500;
}
/*g-menu*/
.g-main-menu{
	display: flex;
	flex-wrap: wrap;
	padding:1%;
	justify-content: center;/*水平居中*/
	align-items:center;/*垂直居中*/
	height:55vh;
	margin-top:0.1rem;
}
.g-main-menu a{
	display: flex;
	width:40vw;
	height:25vw;
	background:blue;
	color:white;
	margin:0 0.4rem;
	justify-content: center;
	align-items:center;
	font-size:1.1rem;
	font-weight:bold;	
	box-shadow:2px 2px 2px rgba(0,0,0,.5);
}
.g-main-menu a:nth-of-type(1){
	background:#0076FA;
}
.g-main-menu a:nth-of-type(2){
	background:#00CEFA;

}
.g-main-menu a:nth-of-type(3){
	background:#02B138;

}
.g-main-menu a:nth-of-type(4){
	background:#F99F00;

}
.g-main-menu a img{
	width:30%;
	height:50%;
	padding-right:0.1rem;
}
/*fix menu*/
.g-fix-menu-box{
	position:fixed;
	bottom:0;
	left:0;	
	width:100%;
}
.g-fix-menu{
	box-sizing: border-box;
	padding:0.2rem;
	display: flex;
	justify-content: space-around;
	border-top:1px solid #e6e6e6;
	z-index:1000;
	max-width:640px;
	margin:0 auto;
	background:#E30735;	
	height:60px;
}

.g-fix-menu a{
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index:1001;
	width:25%;
}

.g-fix-menu a img{
	margin-bottom:0.1rem;
	height:32px;
	width:32px;
	margin:auto;
	}
.g-fix-menu span{
	color:#fff;
	font-size:12px;
}

/*login register*/
.login-header{
	display: flex;
	height:8vh;
	background:white;
	border-bottom:1px solid gainsboro;
	box-sizing: border-box;
	padding:0.2rem;
	}
.login-header a{
	width:50%;
	text-align: center;
	font-size:1.4rem;
}
.login-active{color:#E30735;}
.login-header span{color:gray;line-height:8vh;}	
.login-form span a{color:cornflowerblue;}	
.login-form{width:100%;box-sizing: border-box;padding:0.5rem;}
.login-row{display: flex;height:8vh;margin:1rem 0;}
.login-row label{width:20%;line-height:8vh;font-size:0.8rem;}
.login-row input{box-sizing:border-box;width:80%;font-size:0.8rem;padding-left:1rem;}
.login-form span{display: flex;justify-content: flex-end;}
.login-form button{
	display:block;
	height:8vh;
	width:100%;
	font-size:1.2rem;
	background:#E30735;
	color:white;
	border:1px solid white;}
.login-form .surelogin{
	justify-content:space-between;
	}
.surelogin label{
	width:20%;
	line-height:8vh;
	font-size:0.8rem;
}
.surelogin input{
	box-sizing:border-box;
	width:40%;
	font-size:0.8rem;
}
.surelogin img{
	margin:0 auto;
	width:35%;
	height:6vh;
	align-self: center;
}
.checklogin{font-size:0.8rem;height:4vh;margin:0;}
.checklogin *{display:flex;margin:0;padding:0;}
.checklogin input[type="checkbox"]{
	width:auto;
	height:4vh;
	margin-right:0.5rem;
}
.checklogin span{height:4vh;}
.checklogin a{height:4vh;color:cornflowerblue;}

.findtitle{background:gainsboro;display:flex;line-height:6vh;align-items: center;}
.findtitle img{width:15%;height:6vh;}
.findtitle span{font-size: 1.2rem;}
