/*base*/
*{padding:0;margin:0;}
body{
	font-size:62.5%;
	font-family:"Microsoft YaHei",Arial;
	 overflow-x:hidden; 
	 overflow-y:auto;
	 }
.g-doc{  
	min-width:300px; 
	margin:0 auto;
	margin-bottom:12vh;
	}
ul{list-style:none;}	
a{
	text-decoration: none;
	color:black;
	}
/*logo*/
.g-logo{
	height:8vh;
	background:#E30735;
	line-height:8vh;
	color:white;
	text-align: center;
	font-size:1.4rem;
}

/*banner*/
.ck-slide { box-sizing:border-box;width: 100vw; height: 40vw; margin: 0 auto;}
.ck-slide ul.ck-slide-wrapper { height: 40vw;}
ul.ck-slide-wrapper img{width:100vw;height:40vw;}
.ck-slide ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index:1001
}
.ck-slide {
	position: relative;
	overflow: hidden;
}
.ck-slide ul.ck-slide-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
}
.ck-slide ul.ck-slide-wrapper li {
	position: absolute; margin-top:0px;
}
.ck-slide ul.ck-slide-wrapper li a{
	/*a标签是行内元素，宽高对a标签不起作用，这里必须添加line-height:0px;display:black，否则垂直滚动<li>之间会出现间隔*/
	line-height:0px;
	display:block;
}
.ck-slide .ck-prev, .ck-slide .ck-next {
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 30px;
	height: 40px;
	margin-top: -15px;
	border-radius: 3px;
	opacity: 0.5;
	background-repeat: no-repeat;
	transition: opacity .2s linear 0s;
	color:white;
	font-weight:bold;
	font-size:1rem;
	line-height:40px;
	text-align: center;
}
.ck-slide .ck-prev {
	left: 2px;
	background: #000 50% no-repeat;
}
.ck-slide .ck-next {
	right: 2px;
	background: #000 50% no-repeat;
}
.ck-slidebox {
	position: absolute;
	left: 50%;
	bottom: 12px;
	z-index: 30;
}
.ck-slidebox ul {
	height: 20px;
	padding: 0 4px;
	border-radius: 8px;
	background: rgba(0,0,0,0.5);
}
.ck-slidebox ul li {
	float: left;
	height: 12px;
	margin: 4px 4px;
}
.ck-slidebox ul li em {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #fff;
	text-indent: -9999px;
	cursor: pointer;
}
.ck-slidebox ul li.current em {
	background-color: #fe6500;
}
.ck-slidebox ul li em:hover {
	background-color: #fe6500;
}
/*g-menu*/
.g-main-menu{
	display: flex;
	flex-wrap: wrap;
	padding:1%;
	justify-content: center;/*水平居中*/
	align-items:center;/*垂直居中*/
	margin-top:0.1rem;
}
.g-main-menu a{
	display: flex;
	width:42vw;
	height:30vw;
	background:blue;
	color:white;
	margin:0.4rem;
	justify-content: center;
	align-items:center;
	font-size:5vw;
	font-weight:bold;	
	box-shadow:2px 2px 2px rgba(0,0,0,.5);
}
.g-main-menu a:nth-of-type(1){
	background:#0076FA;
}
.g-main-menu a:nth-of-type(2){
	background:#00CEFA;

}
.g-main-menu a:nth-of-type(3){
	background:#02B138;

}
.g-main-menu a:nth-of-type(4){
	background:#F99F00;

}
.g-main-menu a img{
	width:18vw;
	height:18vw;
	padding-right:0.1rem;
}
/*fix menu*/

.g-fix-menu{
	box-sizing: border-box;
	padding:0.2rem;
	display: flex;
	justify-content: space-around;
	border-top:1px solid #e6e6e6;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:1000;
	background:#E30735;
}

.g-fix-menu a{
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index:1001;
	width:25%;
}

.g-fix-menu a img{
	margin-bottom:0.1rem;
	height:2rem;
	width:2rem;
	margin:auto;
	}
.g-fix-menu span{
	color:#fff;
}

/*article*/
.article{
	color:#000;
}
.article h1{
	font-size:1.2rem;
	padding:0.3rem;
	border-bottom:1px solid gainsboro;
	margin-bottom:0.3rem;
	}
.article p{
	padding:0.2rem 0.5rem 0.8rem 0.5rem;
	line-height:1.4rem;
	font-size:1rem;
	}
.article img{
	display:block;
	box-sizing:border-box;
	width:100vw;
	margin-bottom:0.3rem;
	padding:0;
	}

/*login register*/
.login-header{
	display: flex;
	height:8vh;
	background:white;
	border-bottom:1px solid gainsboro;
	box-sizing: border-box;
	padding:0.2rem;
	align-items: center;
	}
.login-header a{
	width:50%;
	text-align: center;
	font-size:1.4rem;
}
.login-active{color:#E30735;}
.login-header span{color:gray;line-height:8vh;}	

.login-form{
	display:flex;
	flex-direction: column;
	box-sizing: border-box;
	padding:0.5rem;
	background:gainsboro;
}
.login-form input[type="text"],input[type="password"]{
	padding:0.6rem;
	padding-left:3rem;
	margin-bottom:0.4rem;
	border:1px solid transparent;
	border-radius:3px;
}
.login-form>input.user-icon{
	background:#fff url(../img/user-icon.png) no-repeat center left;
	background-position: 10px;
	background-size:24px 24px!important;
	}
.login-form>input[type="password"]{
	background:#fff url(../img/password-icon.png) no-repeat center left;
	background-position: 10px;
	background-size:24px 24px!important;
	}
.login-form>input.mobile-icon{
	background:#fff url(../img/mobile-icon.png) no-repeat center left;
	background-position: 10px;
	background-size:24px 24px!important;
	}
.login-form .surelogin{
	display: flex;
	justify-content: space-between;
}	
.login-form .surelogin input.mobilesure-icon{
	background:#fff url(../img/mobilesure-icon.png) no-repeat center left;
	background-position: 10px;
	background-size:24px 24px!important;
	flex:auto;
	margin-right:0.5rem;
	}		
.login-form .surelogin input[type="button"]{
	padding:0.5rem;
	color:#fff;
	border:1px solid transparent;
	background:#E30735;
	border-radius:2px;
	align-self:flex-start;
}

.login-form .checklogin {
	display: flex;
	padding:0.6rem;
	align-items: center;
}

.login-form .checklogin input{margin-right:0.5rem;}
.login-form .checklogin a{color:#7dc5eb;}

.login-form>input[type="button"]{
	box-sizing: border-box;
	display: block;
	width:100%;
	padding:0.6rem;
	background:#E30735;
	border:1px solid transparent;
	border-radius: 2px;
	color:#fff;
	font-weight:bold;
	font-size:1.2rem;
	}
.login-form .lostpwd{
	align-self:flex-end;
	color:#7dc5eb;
	margin-bottom:0.5rem;
	}
.findtitle{background:gainsboro;display:flex;line-height:6vh;align-items: center;}
.findtitle img{width:15%;height:6vh;}
.findtitle span{font-size: 1.2rem;}

/*news list*/

.news-menu{
	padding:0.5rem 0.2rem;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-bottom: 2px solid gainsboro;
}
.news-menu a{
	box-sizing:border-box;
	width:32%;
	font-weight:bold;
	font-size:1.2rem;
	padding:0.5rem 0.2rem;
	border:1px solid whitesmoke;
	border-radius:5px;
	}
.news-menu a:nth-of-type(1){
	background:#0685FA;
	color:#fff;
}
.news-menu a:nth-of-type(2){
	background:#EB9B04;
	color:#fff;
}
.news-menu a:nth-of-type(3){
	background:#04C605;
	color:#fff;
}
.news-list{
	box-sizing: border-box;
	padding:0.2rem;
	
	}
.news-list .news-list-title{
	font-size: 1.2rem;
	padding:0.3rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 4px solid #E30735;
	margin-bottom:0.2rem;
}
.news-list-item{
	display: flex;
	flex-direction: column;
}
.news-list-item a{
	display: flex;
	margin:0.4rem 0.2rem;
	height:12vh;
	overflow: hidden;
	width:100%;
	cursor: pointer;
	font-size:0.9rem;
	line-height:1.1rem;
	justify-content: space-between;
	border-top:1px solid gainsboro;
	border-bottom:1px solid gainsboro;
	padding:0.3rem;
}
.news-list-item a img{
	height:12vh;
	width:30%;
	margin-right:0.3rem;
}
.news-list-item a span{
	width:70%;
	height:12vh;
	overflow: hidden;
	padding:0.3rem 0.1rem;
}

/*baidu map*/
.allmap{
	width:100vw;
	height:89vh;
}
.callpan{
	margin:0 2rem;
	margin-top:60vh;
	border:2px solid #E30735;
	position: relative;
}
.callpan:after{
	content:"";
	display: block;
	width:0;
	height:0;
	border:1rem solid transparent;
	border-top:1rem solid #E30735;
	position:absolute;
	top:100%;
	left:56%;
}


/*car produce*/
.car-list{
	display: flex;
	flex-direction: column;
	font-size:0.8rem;
}

.car-list a{
	display: flex;
	margin-bottom:2rem;
	line-height:2rem;
	padding:0.5rem;
	padding-left:1rem;
	background:#E30735;
	color:#fff;
	font-size:0.8rem;
	font-weight:bold;
	box-shadow:0 2px 5px rgba(227,7,53,0.6);
}
.car-list a:nth-of-type(1){
	margin-top:0.5rem;
}
.car-list a:before{
	width:2rem;
	height:2rem;
	background:#fff;
	line-height:2rem;
	text-align: center;
	color:#000;
	font-size:1.2rem;
	border-radius:50%;	
	margin-right:1rem;
	
	
}
.car-list a:nth-of-type(1):before{
	content:"1";

}
.car-list a:nth-of-type(2):before{
	content:"2";
}
.car-list a:nth-of-type(3):before{
	content:"3";

}
.car-list a:nth-of-type(4):before{
	content:"4";

}

/*aboutmenu*/
.aboutmenu{
	display: flex;
	padding:0.5rem 3rem;
	justify-content: space-between;
	border-bottom:1px solid gainsboro;
	margin-bottom:2px;
	
}
.aboutmenu a{
	box-sizing:border-box;
	width:45%;
	font-weight:bold;
	font-size:1.2rem;
	padding:0.5rem 0.2rem;
	border:1px solid whitesmoke;
	border-radius:5px;
	background:red;
	text-align: center;
	color:#fff;
}
.aboutmenu a:nth-of-type(1){
	background:#D20404;
}
.aboutmenu a:nth-of-type(2){
	background:#347F00;
	
}

/*family*/
.family-menu{
	display:flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding:0.2rem 2rem;
	border-bottom: 1px solid gainsboro;
}
.family-menu a{
	box-sizing: border-box;
	padding:0.5rem 0.4rem;
	font-size: 1rem;
	color:#fff;
	font-weight:bold;
	border-radius:1.2rem;
	}
.family-menu a:nth-of-type(1){
	background:#0685FA;
}
.family-menu a:nth-of-type(2){
	background:#02B138;
}
.family-menu a:nth-of-type(3){
	background:#F99F00;
}
/*company*/
.company{
	display: flex;
	flex-direction: column;
	padding:0 0.5rem;
}
.company a{
	display: flex;
	height:6vh;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	cursor: pointer;
	padding-left:0.2rem;
	color:#00CEFA;
	}
