.head-inner{
    box-sizing: border-box;
    display: flex;
    height:50px;
    justify-content: space-between;
    align-items:center;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    padding:0 20px;
    position:fixed;
    width:100%;
    z-index:9999;
    top:0;
    left:0;
    background:rgba(255,255,255,0.8);
}
.lb-logo img{height:33px;}
.user-btns{
    height:28px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.cd-signin,.cd-signup{
    height:28px;
    line-height:28px;
    padding:0 15px;
    display: block;
    background:blue;
    color:#000;
    margin-right:2px;
    font-size: 12px;
    color:white;
    background:#00a0e9;
    border:1px solid #00a0e9;
    border-radius: 3px;
    cursor: pointer;
}
.cd-signin:hover,.cd-signup:hover{
    background:#fff;color:#000;
}


.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 9988;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher{
    margin:0;
    padding:0;
}
.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
    list-style: none;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
    text-decoration: none;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}
@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 16px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.cd-form label.cd-username {
    background-image: url("../images/img/cd-icon-username.svg");
}
.cd-form label.cd-email {
    background-image: url("../images/img/cd-icon-email.svg");
}
.cd-form label.cd-password {
    background-image: url("../images/img/cd-icon-password.svg");
}
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 80%;
}
.cd-form input.full-width2 {
    width: 94%;
}
.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}


@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
        margin-left: 30px;
    }
    .cd-form .fieldset {
        margin: 2em 0;
    }
    .cd-form .fieldset:first-child {
        margin-top: 0;
    }
    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
    .cd-form input[type=submit] {

    }
}



.cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../images/img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}


.m-title{width:100%;text-align: center;}
.m-title h1{
    font-size: 24px;
}
.m-title h1:before,.m-title h1:after{
    content:url(../images/m-title-line.PNG)
}

.m-title h1:before{
    padding-right:20px;
}
.m-title h1:after{
    padding-left:20px;
}
.max{
    width: 100%;
    margin: 5px auto;
}
.taxt_sy{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
    resize: vertical;
    padding: 4px;
}
.foother_main{
    width: 100%;
    background: #534F4C;
    overflow: hidden;
    border-top:2px solid gainsboro;
}
.foother{
    width: 980px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
}
.lt_add{
    float: left;
}
.lt_add ul{
    list-style: none;
}
.about_nn{
    float: left;
    padding-left: 25px;
}
.about_nn ul{
    list-style: none;
}
.about_nn ul li{
    line-height: 2em;
}

.more .mask-layer{
    position: absolute;
    width: 100%;
    height:521px;
    background:rgba(0,0,0,.6);
    top:100%;
    left:0;
    transition: top 1s;
    text-align: center;
    font-size:30px;
    line-height:521px;
    color:#fff;
    font-weight:bold;
}
.more:hover .mask-layer{
    top:0;
}


.list .mask-layer{
    position: absolute;
    width: 100%;
    height:250px;
    background:rgba(0,0,0,.6);
    top:100%;
    left:0;
    transition: top 1s;
    text-align: center;
    font-size:30px;
    line-height:250px;
    color:#fff;
    font-weight:bold;
}
.list:hover .mask-layer{
    top:0;
}

.imgs{
    display: block;
    position: relative;
    width: 250px;
    height: 295px;
    overflow: hidden;
}
 .mask-layer{
    position: absolute;
    width: 100%;
    height:295px;
    background:rgba(0,0,0,.6);
    top:100%;
    left:0;
    transition: top 0.5s;
    text-align: center;
    font-size:24px;
    line-height:295px;
    color:#fff;
    font-weight:bold;
}
.imgs:hover .mask-layer{
    top:0;
}




.m-main{
    width: 1150px;
    margin: 0 auto;
    margin-top: 100px;
}

.m-about-main{
    width: 100%;
}


.m-lists {
    width: 1150px;
    padding: 9px;
}
.m-lists ul{
    list-style: none;
}
.m-lists ul li{
    width: 250px;
    height: 295px;
    float: left;
    margin-right: 18px;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
}
.m-lists-img{
    width: 250px;
    height: 295px;
}

.m-news_list{

}
.m-news_list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.m-news_list ul li{
    line-height: 2em;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px dashed gainsboro;
    margin-bottom: 10px;
}

.news_list_thumb{
    width: 150px;
    height: 140px;
    background: gainsboro;
    float: left;
}

.news_list_title{
    width: 550px;
    float: left;
    padding-left: 10px;
}
.news_list_ti a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}
.news_list_ti a:hover{
    color: #8b1f53;
}
.news_list_descrip{
    padding-top: 8px;
    color: #5f5f5f;
}

.news_list_dt{
    float: right;
}
.news_list_dt span{
    color: #888;
}

.index_news_list_view{
    width: 77px;
    background: #b2b2b2;
    text-align: center;
    line-height: 2em;
    margin-top: 15px;
}
.index_news_list_view a{
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

.m-content-nr{
    padding: 10px 10px 10px 10px;
    line-height: 2em;
}
.m-content-nr1{
    line-height: 2em;
}


.news_titles{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.news_titles_tap{
    padding-top: 10px;
    text-align: center;
}
.news_titles_tap span{
    color: #5f5f5f;
    padding-left: 10px;
}
.news_show_content{
    padding-top: 15px;
    line-height: 2em;
    margin-bottom: 20px;
}
.prv{
    float: left;
}
.prv a{
    text-decoration: none;
    color: #000000;
}
.prv a:hover{
    color: #8b1f53;
}
.next{
    float: right;
}
.next a{
    text-decoration: none;
    color: #000000;
}
.next a:hover{
    color: #8b1f53;
}
