/*base*/
*{padding:0;margin:0;}
body{
	font-size:62.5%;
	font-family:"Microsoft YaHei",Arial;
	 overflow-x:hidden; 
	 overflow-y:auto;
	 }
.viewport{  
	min-width:300px; 
	margin:0 auto;
	}
h1{text-align: center;}
ul{list-style:none;}	
a{text-decoration: none;color:black;}


/*index page*/

/*banner*/

.swiper-container {
	    width: 100%;
	    height: 30vh;
} 
.slide-1 {
background: url(../img/bg/banner1.jpg) no-repeat;
background-size: 100% 30vh;
}
.slide-2 {
background: url(../img/bg/banner2.jpg) no-repeat;
background-size: 100% 30vh;
}
.slide-3 {
background: url(../img/bg/banner3.jpg) no-repeat;
background-size: 100% 30vh;
}

/*g-body*/
.g-body{
	margin-bottom: 12%;;
}
.g-know{
	width:100%;
	box-sizing: border-box;
	padding:1% 1% 0 1%;		
	}
.g-know .know-title{
	padding-left:1rem;
	border-left:4px solid dodgerblue;
	}
.g-know .know-list{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between ;
	padding:1%;
}	
.g-know .know-list a{
	width:48%;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	margin-bottom:0.8rem;
	box-sizing: border-box;
	border:1px solid #e6e6e6;
	padding:0.5rem;
	box-shadow: 0.2rem 0.2rem 0.5rem #8a8a8a;
	text-align: center;
}


.g-know .know-list a img{
	margin-bottom:0.8rem;
	width:100%;
	height:5rem;
}


/*   */
.g-product{
	width:100%;
	box-sizing: border-box;
	padding:1% 1% 0 1%;		
	}
.g-product .know-title{
	padding-left:1rem;
	border-left:4px solid dodgerblue;
	}
.g-product .know-list{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between ;
	padding:1%;
}	
.g-product .know-list a{
	width:32%;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	margin-bottom:0.8rem;
	box-sizing: border-box;
	border:1px solid #e6e6e6;
	padding:0.5rem;
	box-shadow: 0.2rem 0.2rem 0.5rem #8a8a8a;
	text-align: center;
}


.g-product .know-list a img{
	margin-bottom:0.8rem;
	width:100%;
	height:5rem;
}

/*  */
.g-company{
	width:100%;
	box-sizing: border-box;
	padding:1% 1% 0 1%;		
	}
.g-company .know-title{
	padding-left:1rem;
	border-left:4px solid dodgerblue;
}
.g-company .know-list{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between ;
	padding:1%;
}	
.g-company .know-list a{
	width:48%;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	margin-bottom:0.8rem;
	box-sizing: border-box;
	border:1px solid #e6e6e6;
	padding:0.5rem;
	box-shadow: 0.2rem 0.2rem 0.5rem #8a8a8a;
	text-align: center;
}
.g-company .know-list a img{
	margin-bottom:0.8rem;
	width:100%;
	height:5rem;
}

/*fix menu*/

.g-fix-menu{
	box-sizing: border-box;
	padding:0.2rem;
	display: flex;
	justify-content: space-around;
	border-top:1px solid #e6e6e6;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:1000;
	background:white;
}

.g-fix-menu a{
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index:1001;
	width:25%;
	
	
}

.g-fix-menu a img{
	margin-bottom:0.1rem;
	height:10vw;
	width:10vw;
	margin:auto;
	}
.g-fix-menu span{
	color:#8a8a8a;
}
/* sort paga*/
.sort-menu{
	display: flex;
	flex-direction: column;
	margin-bottom:15%;
	
	}

.sort-list{
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	box-sizing: border-box;
	width:100vw;
	height:85vh;
}
.sort-list a{
	box-sizing: border-box;
	display: block;
	padding:0.5rem 0;
	margin:0.5rem;
	width:40vw;
	height:25vh;
	border-radius:10px;
	font-size: 1.1rem;
	font-family: "楷体";
	background:rgba(230,230,230,.5);
	line-height: 25vh;	
}
.sort-list a:hover{
	cursor: pointer;
}
.product-lists{
	padding:0.5rem;
	display: flex;
	flex-direction: column;
}
.product-list-item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-list-item a{
	width:48%;
	display: flex;
	flex-direction: column;
	text-align: center;

	margin-bottom:2%;
	box-sizing: border-box;
	border:1px solid #e6e6e6;
	padding:0.5rem;
	box-shadow: 0.2rem 0.2rem 0.5rem #8a8a8a;	
	
}
.product-list-item a img{
	width:100%;
}

/*article page*/
article{
	padding:0.8rem;
	margin-bottom:15%;
}
article h1{text-align: left;}
.article-header p{
	margin-bottom:0.5rem;
	font-size:1.2rem;
	font-family: "楷体";
	line-height:1.4rem;
}
.article-header p span{
	color:#707070;
	padding-right:0.5rem;
}
.article-header p span:nth-child(3){
	color:black;
}
.article-header img{
	width:100%;
	height:15rem;
}
.article-content{
	font-size:1.2rem;
	line-height:1.14rem;
	font-family: "楷体";
	
}
.article-content .contact-info{
	font-size:1.2rem;
	line-height:1.4rem;
}
.article-content h1,h2{
	padding:0.5rem 0;
	font-size:1.4rem;
	
}
.article-content .add-info p{
	font-size:1rem;
	line-height:1.4rem;
}
.article-content .add-info p:nth-of-type(2){
	font-weight:bold;
}
.article-content .add-info span{
	width:23%;
	display: inline-block;
	padding:0.2rem 0;
	}
.article-content .add-info span:nth-of-type(1){
	width:31%;
}

/*news*/

.g-news{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin-bottom:15%;
}
.g-news .news-title{
	padding-left:1rem;border-left:4px solid dodgerblue;
}
.g-news .news-list{
	display: flex;
	border-top:1px solid rgba(0,0,0,.2);
	flex-direction: column;
}
.g-news .news-list a{
	height:3rem;
	display: flex;
	padding:0.3rem 0.5rem;
	text-decoration: none;
	color:black;
	justify-content: space-between;
	border-bottom:1px solid rgba(0,0,0,.2)	
}
.g-news .news-list a p{
	height:3rem;
	font-size:1rem;
	line-height:1.4rem;
	overflow:hidden;
	padding:2px;
}
.g-news .news-list a img{
	box-sizing: border-box;
	width:30%;
	height:3rem;

	
	}
.g-news .news-list a p{
	box-sizing: border-box;
	width:70%;
	padding:0.2rem 0.5rem;
}
